<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.petworld.mapper.QuestionMapper">
	<insert id="regist">
		insert into QUESTIONBOARD(qno, qwriter, qtitle, qcontent)
		values(QUESTIONBOARD_SEQ.NEXTVAL, #{qwriter}, #{qtitle}, #{qcontent})
	</insert>
	
	<select id="getList" resultType="QuestionVO" >
		<![CDATA[
		select * from(
		select rownum as rn,
			a.*
			from
				(select * from
				 questionboard where]]>
			 
			 <if test="qsearchType == 'qtitle'">qtitle like '%'||#{qsearchName}||'%'</if>
			 <if test="qsearchType == 'qcontent'">qcontent like '%'||#{qsearchName}||'%'</if>
			 <if test="qsearchType == 'qwriter'">qwriter like '%'||#{qsearchName}||'%'</if>
			 <if test="qsearchType == null or qsearchType == ''">1=1</if>
			 
			 <![CDATA[
			 order by qno desc) a)
			 where rn > (#{qpageNum}-1)*#{qamount} and rn <= #{qpageNum}*#{qamount}
			 ]]>
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) as total from questionboard
		where <if test="qsearchType == 'qtitle'">qtitle like '%'||#{qsearchName}||'%'</if>
			 <if test="qsearchType == 'qcontent'">qcontent like '%'||#{qsearchName}||'%'</if>
			 <if test="qsearchType == 'qwriter'">qwriter like '%'||#{qsearchName}||'%'</if>
			 <if test="qsearchType==null or qsearchType==''">1=1</if>
	</select>
	
	<select id="getContent" resultType="QuestionVO">
		select * from QUESTIONBOARD where qno = #{qno}
	</select>
	
	<update id="Update">
		update questionboard set qtitle=#{qtitle}, qcontent=#{qcontent}, qregdate=sysdate where qno=#{qno}
	</update>
	
	<update id="cntUp" parameterType="int">
		update questionboard set qcnt = qcnt + 1 where qno = #{qno}
	</update>
	
	<delete id="questionDelete">
		delete from questionboard where qno=#{qno}
	</delete>
	
	<select id="getquestRep" resultType="map">
		select * from
		questionboard b left outer join question_reply r
		on b.qno = r.qno
		where b.qno = #{qno}
	</select>
	
	<insert id="replyRegist">
		insert into question_reply(qrNo, qno, qrNicname, qrContent, qrPassword)
		values(question_reply_SEQ.NEXTVAL, #{qno}, #{qrNicname}, #{qrContent}, #{qrPassword})
	</insert>
	
	<update id="replyUpdate">
		update question_reply set qrContent = #{qrContent}, qrUpdatedate = sysdate where qrNo = #{qrNo}
	</update>
	
	<delete id="replyDelete">
		delete from question_reply where qrno = #{qrno}
	</delete>
	
	
	
</mapper>